/*
Items Name : Frizerie
Author : Ngetemplates
-------------------------------- */
/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------------------------
  General
---------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: #242524;
  color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  padding: 0;
  margin: 0;
  color: #5a6a8c;
}

h1 {
  font-size: 54px;
  line-height: 62px;
  font-weight: 700;
  left: -4px;
  position: relative;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 46px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #464646;
}

a:hover {
  color: red;
}

p {
  margin: 5px 0;
  line-height: 28px;
  letter-spacing: 0.5px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

/* ------------------------------
  loader
---------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #1f1e1a;
}

.loader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader .loading .aloader {
  background: #5a6a8c;
}

/* ------------------------------
  button
---------------------------------*/
.button {
  padding: 12px 30px;
  background: #5a6a8c;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  border: 2px solid #5a6a8c;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: #fff;
  color: #5a6a8c;
  border-color: #fff;
}

/* ------------------------------
  navbar
---------------------------------*/
.navbar {
  background: transparent;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navbar img {
  height: 50px;
  width: auto;
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.navbar .navbar-brand span {
  color: red;
}

.navbar .navbar-brand:hover {
  color: #333333;
}

.navbar .navbar-toggler {
  padding: 0;
}

.navbar .navbar-toggler i {
  font-size: 35px;
  color: #fff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-collapse {
  position: relative;
  left: -8px;
}

.navbar .navbar-nav li {
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-nav li:hover {
  border-bottom: 2px solid #fff;
}

.navbar .navbar-nav li a {
  color: #fff;
}

.navbar .navbar-nav li a:hover {
  color: #fff;
}

.navbar .navbar-nav li .button {
  color: #fff;
  margin-top: -3px;
  display: inline-block;
  margin-right: -15px;
}

.navbar .show .button {
  margin-top: 20px !important;
}

.navbar-nav {
  position: relative;
  right: -28px;
}

.navbar-fixed {
  background: #5a6a8c;
}

/* ------------------------------
  intro
---------------------------------*/
.intro {
  padding: 160px 0 120px;
  background: linear-gradient(rgba(90, 106, 140, 0.9), rgba(90, 106, 140, 0.9)), url(../img/bg-intro.png) center no-repeat;
  background-size: cover;
}
.intro h1 {
  color: #fff;
  margin-bottom: 30px;
}
.intro h1 span {
  color: #fff;
}
.intro p {
  margin-right: 35%;
  color: #fff;
}
.intro .button {
  margin-top: 30px;
  border-color: #fff;
}

/* ------------------------------
  about
---------------------------------*/
.about {
  padding-top: 120px;
}
.about .content {
  padding-top: 16px;
  padding-left: 100px;
}
.about .content p {
  margin-bottom: 20px;
}
.about .content .button {
  margin-top: 30px;
}
.about .ceo {
  background: #5a6a8c;
  padding: 25px;
  width: 300px;
  border-radius: 3px;
  margin-top: -165px;
  position: relative;
}
.about .ceo span {
  font-size: 17px;
  font-weight: 600;
  border-top: 2px solid #fff;
  margin-top: 12px;
  display: inline-block;
  padding-top: 10px;
}
.about img {
  padding-left: 60px;
}

/* ------------------------------
  team
---------------------------------*/
.team {
  padding-top: 120px;
  text-align: center;
}
.team h2 {
  margin-bottom: 40px;
}
.team span {
  font-size: 20px;
  font-weight: 500;
}
.team .content {
  background: #5a6a8c;
  padding-bottom: 25px;
  border-radius: 0 0 3px 3px;
}
.team .content h5 {
  margin-top: 10px;
}
.team .content ul li {
  display: inline-block;
  padding: 0 5px;
}
.team .content ul li i {
  color: #5a6a8c;
  height: 30px;
  width: 30px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  font-size: 18px;
}
.team .content ul li i:hover {
  background: #f5f5f5;
}

/* ------------------------------
  pricing
---------------------------------*/
.pricing {
  padding-top: 140px;
}
.pricing .content {
  text-align: center;
  background: #5a6a8c;
  padding: 25px;
  border-radius: 3px;
}
.pricing .content h2 {
  color: #fff;
}
.pricing .content ul li {
  padding: 7px 0;
}
.pricing .content ul li i {
  margin-right: 15px;
}
.pricing .button {
  margin-top: 30px;
}

/* ------------------------------
  gallery
---------------------------------*/
.gallery {
  padding-top: 120px;
  text-align: center;
}
.gallery h2 {
  margin-bottom: 70px;
}
.gallery span {
  font-size: 20px;
  font-weight: 500;
}
.gallery img {
  border: 15px solid #5a6a8c;
}
.gallery .img1 {
  transform: rotate(-5deg);
}
.gallery .img2 {
  transform: rotate(-3deg);
}
.gallery .img3 {
  transform: rotate(5deg);
}
.gallery .img4 {
  transform: rotate(5deg);
}
.gallery .img5 {
  transform: rotate(2deg);
}
.gallery .img6 {
  transform: rotate(-5deg);
}

/* ------------------------------
  testimonial
---------------------------------*/
.testimonial {
  padding-top: 150px;
}
.testimonial .swiper-button-next {
  right: 10px;
  left: 25%;
  position: relative;
  margin-left: 42px;
  top: -22px;
}
.testimonial .swiper-button-prev {
  position: relative;
  left: 25%;
}
.testimonial .swiper .content {
  text-align: center;
  padding: 32px 25%;
  text-align: justify;
  text-justify: inter-word;
}
.testimonial .swiper .content span {
  font-weight: 600;
  font-size: 14px;
  position: relative;
  top: -12px;
  color: #aaa;
}
.testimonial .swiper .content h5 {
  color: #fff;
}
.testimonial .swiper-button-next::after, .testimonial .swiper-button-prev::after {
  color: #5a6a8c;
}

/* ------------------------------
  contact
---------------------------------*/
.contact {
  margin-top: 120px;
  padding-top: 70px;
  padding-bottom: 100px;
  background: linear-gradient(270deg, #5a6a8c 71%, transparent 29%);
}
.contact h2 {
  color: #fff;
  margin-bottom: 40px;
}
.contact .open {
  padding: 160px 0 120px;
  background: linear-gradient(rgba(90, 106, 140, 0.1), rgba(90, 106, 140, 0.1)), url(../img/contact.png) center no-repeat;
  background-size: cover;
  color: #090909;
  height: 100%;
  text-align: center;
  padding-top: 22%;
}
.contact .open span {
  font-size: 22px;
  margin-bottom: 30px;
  display: block;
}
.contact .row .row .col {
  margin-top: 25px;
}
.contact ul li {
  display: inline-block;
}
.contact ul li i {
  color: #fff;
  background: #5a6a8c;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.contact .icon {
  float: left;
  margin-right: 20px;
}

.contact .text {
  overflow: hidden;
}

.contact .content-map {
  margin-bottom: 40px;
}

.contact i {
  height: 60px;
  width: 60px;
  background: #fff;
  text-align: center;
  line-height: 60px;
  color: #090909;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact h5 {
  margin-top: -11px;
}

/* ------------------------------
  responsive
---------------------------------*/
@media (max-width: 991px) {
  .navbar-nav {
    right: 0;
    padding-top: 8px;
    background: #5a6a8c;
  }

  .navbar .navbar-nav li {
    border: 0;
  }

  .navbar .navbar-nav li:hover {
    border: 0;
  }

  .intro .col-md {
    flex: 100%;
    width: 100%;
  }
  .intro .col-md-7 {
    flex: 100%;
    width: 100%;
  }
  .intro .reverse {
    flex-direction: column-reverse !important;
  }

  .about .col-md {
    width: 100%;
    flex: 100%;
  }

  .about .content {
    padding-left: 0;
  }

  .about img {
    padding-left: 0;
  }

  .team .col-md {
    flex: 50%;
    width: 50%;
  }

  .pricing .col-md-5 {
    flex: 100%;
  }
  .pricing .col-md {
    flex: 50%;
  }

  .contact .open {
    padding-top: 38%;
  }

  .testimonial .swiper .content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .testimonial .swiper-button-next {
    left: 15%;
  }

  .testimonial .swiper-button-prev {
    left: 15%;
  }
}
@media (max-width: 767px) {
  .gallery .img1 {
    transform: rotate(0deg);
  }
  .gallery .img2 {
    transform: rotate(0deg);
  }
  .gallery .img3 {
    transform: rotate(0deg);
  }
  .gallery .img4 {
    transform: rotate(0deg);
  }
  .gallery .img5 {
    transform: rotate(0deg);
  }
  .gallery .img6 {
    transform: rotate(0deg);
  }
  .gallery .col-md-4 {
    margin-top: 25px;
  }

  .team .g-5, .team .gy-5 {
    --bs-gutter-y: 2rem;
  }
  .team .g-5, .team .gx-5 {
    --bs-gutter-x: 2rem;
  }

  .pricing .g-5, .pricing .gy-5 {
    --bs-gutter-y: 2rem;
  }
  .pricing .g-5, .pricing .gx-5 {
    --bs-gutter-x: 2rem;
  }

  .contact {
    background: linear-gradient(270deg, #242524 71%, #242524 29%);
  }

  .contact ul li i {
    color: #fff;
    background: #5a6a8c;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    line-height: 50px;
  }
}
@media (max-width: 575px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {
    font-size: 38px;
    line-height: 46px;
  }

  .intro p {
    margin-right: 0;
  }

  .about .ceo {
    margin-top: -90px;
    width: 100%;
  }

  .about img {
    margin-bottom: 30px;
  }

  .team .col-md {
    flex: 100%;
    margin-top: 30px;
  }

  .pricing .col-md {
    margin-top: 30px;
  }

  .gallery .col-md {
    margin-top: 30px;
  }

  .testimonial .swiper .content {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial .swiper-button-next {
    left: 0;
  }

  .testimonial .swiper-button-prev {
    left: 0;
  }

  .testimonial {
    padding-top: 90px;
  }

  .contact {
    margin-top: 30px;
  }

  .contact .open {
    height: 360px;
  }
}
